# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse

# Allows backing up of screenshots for use on multiple systems
run/config
run/defaultconfigs
run/logs
run/mods
run/patchouli_books
run/resourcepacks
run/saves
run/crash-reports
run/world
run/*.properties
run/*.txt
run/*.json

# Files from Forge MDK
forge*changelog.txt
